@font-face {
  font-family: "Porter";
  src:
    url("/font/Porter-BoldDEMO.woff2") format("woff2"),
    url("/font/Porter-BoldDEMO.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "Porter", sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #111;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background: #111;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: url("/img/1@1x_1.png") center / cover no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  //   border-bottom: 1px solid rgba(0, 0, 0, 0.233);
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(circle, rgba(17, 17, 17, 0.315), #11111154);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  background: rgb(17 17 17 / 95%);
  backdrop-filter: blur(0.5rem);
  width: 100vw;
  box-shadow: 8px 8px 1rem #00000070;
}

#logo {
  width: 100vw;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0px 0px 9px rgba(0, 0, 0, 0.5));
}
.btn-group-horizontal {
  display: flex;
  gap: 1rem;
}
.btn-cta {
  display: inline-flex;
  align-items: center;
  padding: 0.75em 1em;
  margin-top: 20px;
  border-radius: 8px;
  background-color: transparent;
  //   backdrop-filter: blur(0.125rem);
  color: #f1f1f1;
  border: 2px solid rgba(241, 241, 241, 0.212);
  text-decoration: none;
  //   text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.47);
  transition: transform 0.2s ease;

  &:hover {
    // background-color: #3c3a3c;
    transform: scale(1.05);
  }

  &:active {
    // background-color: #1e1c1e;
    transform: scale(0.95);
  }
}

.btn-icon {
  height: 1em;
  width: auto;
}

.btn-instagram {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  .btn-icon {
    height: 1em;
    // margin-bottom: 1em;
  }
}

.social {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/img/2.webp") center / cover no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
//   background-position: center;
}

@media (min-width: 768px) {
  .panel {
    width: 100vw;
  }

  #logo {
    max-width: 36ch;
  }
}

@media (min-width: 1024px) {
  .panel {
  }
}

@media (min-width: 1536px) {
  .panel {
    width: 48ch;
    border-radius:0.5rem;
  }
}
