---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header id="about_hero" class="hero semi-parallax" >
    <div class="overlay">
      <div class="container">
        <div class="panel">
          <h1>About</h1>
          <p>Learn more about Karaage Kid</p>
        </div>
      </div>
    </div>
  </header>
  <section id="our_story" class="semi-parallax section">
    <div class="overlay">
      <div class="container">
        <div class="panel content">
          <h2>Our Story</h2>
          <p>
            Karaage Kid is a Toronto-based pop-up and catering concept dedicated
            to one thing: perfect Japanese-style fried chicken.
          </p>
          <!-- <p>
            Built around the art of karaage—Japan’s take on fried chicken—our
            menu focuses on bold flavor, clean execution, and crave-worthy
            comfort food. Every piece is marinated, hand-breaded, and fried to
            achieve that signature balance: crispy on the outside, juicy on the
            inside.
          </p> -->
        </div>
      </div>
    </div>
  </section>
  <section id="our_style" class="semi-parallax section">
    <div class="overlay">
      <div class="container">
        <div class="panel content">
          <h2>Our Style</h2>
          <p>We keep things simple, but intentional.</p>
          <!-- <p>
            From our signature boxes to our sandwiches on soft brioche buns,
            everything is designed to hit that perfect mix of:
          </p> -->
          <ul class="list">
            <li>Bold flavor</li>
            <li>Clean execution</li>
            <li>High Quality</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="our_mission" class="semi-parallax section">
    <div class="overlay">
      <div class="container">
        <div class="panel content">
          <h2>Our Mission</h2>
          <p>
            To share our love of Japanese-style fried chicken with the world,
            one perfectly crispy bite at a time.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="built_for_events" class="section semi-parallax">
    <div class="overlay">
      <div class="container">
        <div class="panel content">
          <h2>Built for Events</h2>
          <p>Karaage Kid isn't just food.</p>
          <p><b>It's an experience.</b></p>
          <p>We specialize in:</p>
          <ul class="list">
            <li>Pop-ups</li>
            <li>Catering</li>
            <li>Private events</li>
            <li>Events and Festivals</li>
          </ul>
        </div>
      </div>
    </div>
  </section> <!-- <section id="the_idea" class="section semi-parallax">
    <div class="container">
      <div class="overlay">
        <div class="panel content">
          <h2>The Idea</h2>
          <p>
            Karaage Kid started with a simple vision: Take one of the best
            comfort foods in the world and do it really, really well.
          </p>
        </div>
      </div>
    </div>
  </section>
  -->
</Layout>
