---
import Layout from "../layouts/Layout.astro";
import Social from "../components/Social.astro";
---

<Layout
  title="Contact Karaage Kid"
  description="Get in touch with Karaage Kid to ask questions, plan catering, or book your next Toronto event."
  image="/img/og/open-graph-contact.png"
>
  <header id="about" class="hero">
    <div class="overlay">
      <div class="container">
        <div class="panel">
          <h1>Contact Us</h1>
          <p>Let's talk!</p>
        </div>
      </div>
    </div>
  </header>
  <section id="contact" class="section">
    <div class="overlay">
      <div class="container">
        <div class="panel content">
          <p>Have questions, feedback, or want to book a reservation?</p>
          <p>
            Get in touch with us! We’d love to hear from you.
          </p>
          <div class="btn-group-horizontal">
            <a href="mailto:contact.karaagekid@gmail.com" class="btn btn-cta"
              ><img src="/svg/icon-mail.svg" alt="Email Icon" class="btn-icon btn-icon-right"> <span>Email Us</span></a
            >
            <a class="btn btn-cta" href="tel:+6477870671"><img src="/svg/icon-phone.svg" alt="Phone Icon" class="btn-icon btn-icon-right"> <span>Call Us</span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <Social />
</Layout>
