---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header id="about" class="hero">
    <div class="overlay">
      <div class="container">
        <div class="panel">
          <h1>Contact Us</h1>
        </div>
      </div>
    </div>
  </header>
  <section id="contact">
    <div class="overlay">
      <div class="container">
        <div class="panel">
          <p>
            Have questions, feedback, or want to book a reservation? Get in
            touch with us! We’d love to hear from you. You can reach us via
            email at
            <a href="mailto:contact.karaagekid@gmail.com">info@karaagekid.ca</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
