---
import Layout from '../layouts/Layout.astro';

---

<Layout
  title="Karaage Kid Events"
  description="See upcoming Karaage Kid pop-ups, food events, and appearances around Toronto."
  image="/img/og/open-graph-events.png"
>
	<header id="about" class="hero">
        <div class="overlay">
            <div class="container">
            <div class="panel">
                <h1>Events</h1>
                <p>Check out our upcoming events and join the fun!</p>
            </div>
        </div>
        </div>
    </header>
    <section id="events">
        <div class="overlay">
            <div class="container">
                <div class="panel">
                    <h1>Coming Soon!</h1>
                </div>
            </div>
        </div>
    </section>
</Layout>