---
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<header id="about" class="hero">
        <div class="overlay">
            <div class="container">
            <div class="panel">
                <h1>Gallery</h1>
            </div>
        </div>
        </div>
    </header>
    <section>
        <div class="overlay">
            <div class="container">
                <div class="panel">
                    <p>Check out our gallery of delicious karaage dishes and our cozy restaurant atmosphere. From crispy chicken to mouthwatering sides, our photos will make you crave a visit to Karaage Kid!</p>
                </div>
            </div>
        </div>
    </section>
</Layout>