---
import Layout from '../layouts/Layout.astro';
import GallerySection from '../components/Gallery.astro';
---

<Layout
  title="Karaage Kid Gallery"
  description="Browse photos of Karaage Kid's Japanese-style fried chicken, catering setups, and event food moments."
  image="/img/og/open-graph-gallery.png"
>
	<header id="about" class="hero semi-parallax">
        <div class="overlay">
            <div class="container">
            <div class="panel">
                <h1>Gallery</h1>
                <p>Check out our gallery of delicious karaage dishes.</p>
            </div>
        </div>
        </div>
    </header>
    <!-- <section id="gallery_intro" class="semi-parallax">
        <div class="overlay">
            <div class="container">
                <div class="panel">
                    <p>Check out our gallery of delicious karaage dishes. </p>

                    <p>From crispy chicken to mouthwatering sides, our photos will make you crave Karaage Kid!</p>
                </div>
            </div>
        </div>
    </section> -->
    <GallerySection />
</Layout>