---
import Layout from '../layouts/Layout.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout>
	<header id="about" class="hero semi-parallax">
        <div class="overlay">
            <div class="container">
            <div class="panel">
                <h1>Gallery</h1>
                <p>Check out our gallery of delicious karaage dishes.</p>
            </div>
        </div>
        </div>
    </header>
    <!-- <section id="gallery_intro" class="semi-parallax">
        <div class="overlay">
            <div class="container">
                <div class="panel">
                    <p>Check out our gallery of delicious karaage dishes. </p>

                    <p>From crispy chicken to mouthwatering sides, our photos will make you crave Karaage Kid!</p>
                </div>
            </div>
        </div>
    </section> -->
    <Gallery/>
</Layout>