---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Get a Quote from Karaage Kid"
  description="Request a catering quote from Karaage Kid for pop-ups, private events, festivals, and special occasions in Toronto."
  image="/img/og/open-graph-quote.png"
>
  <header id="about" class="hero">
    <div class="overlay">
      <div class="container">
        <div class="panel">
          <h1>Get a Quote</h1>
          <p>Request a quote for your next event or catering order.</p>
        </div>
      </div>
    </div>
  </header>
  <section id="contact">
    <div class="overlay">
      <div class="container">
        <div class="panel">
            <h2>Coming Soon</h2>
        </div>
      </div>
    </div>
  </section>
</Layout>
