---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header id="about" class="hero">
    <div class="overlay">
      <div class="container">
        <div class="panel">
          <h1>Get a Quote</h1>
        </div>
      </div>
    </div>
  </header>
  <section id="contact">
    <div class="overlay">
      <div class="container">
        <div class="panel">
            
        </div>
      </div>
    </div>
  </section>
</Layout>
