---
import Layout from '../layouts/Layout.astro';

---

<Layout
  title="Karaage Kid Reviews"
  description="Read what customers are saying about Karaage Kid's Japanese-style fried chicken and event catering."
  image="/img/og/open-graph-reviews.png"
>
	<header id="about" class="hero">
        <div class="overlay">
            <div class="container">
            <div class="panel">
                <h1>Reviews</h1>
                <p>Hear what all the buzz is about!</p>
            </div>
        </div>
        </div>
    </header>
    <section id="reviews">
        <div class="overlay">
            <div class="container">
            <div class="panel">
                <h1>Coming Soon!</h1>
            </div>
        </div>
        </div>
    </section>
</Layout>