---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/Menu.astro';
---

<Layout>   
    <header class="hero">
        <div class="overlay">
            <div class="container">
                <div class="panel">
                    <h1>Typography</h1>
                </div>
            </div>
        </div>

    </header>
    <div class="container">
        
        <p>
        This page is a work in progress. Check back later for more content.
        </p>
    </div>
</Layout>