@font-face {
    font-family: 'Porter';
    src: url('Porter-BoldDEMO.woff2') format('woff2'),
        url('Porter-BoldDEMO.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

