---
let instaUrl = "https://www.instagram.com/karaagekidfoods/";
---

<section class="social section semi-parallax">
    <div class="overlay">
      <div class="panel">
        <h3>Check us out on Instagram</h3>
        <a
          href={instaUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="btn-cta btn-instagram"
        >
          <img src="/svg/logo-instagram.svg" alt="Instagram" class="btn-icon" />
          <span>Follow us</span>
        </a>
      </div>
  </div>
</section>
