---
---

<header class="hero semi-parallax">
  <div class="overlay">
    <div class="container text-center">
      <div class="panel">
        <img id="logo" src="/svg/karaage-kid-logo.svg" alt="Karaage Kid Logo" />
        <!-- <h2>Catering</h2> -->
        <div class="btn-group-horizontal mt-4 mb-4">
          <a class="btn-cta" href="mailto:contact.karaagekid@gmail.com">
            Email
          </a>
          <a class="btn-cta" href="tel:+6477870671"> Call </a>
        </div>

        <a href="/get-a-quote" class="btn-cta btn-emphasis">
        
          Get a Quote
        </a>
      </div>
    </div>
  </div>
</header>
