---

---

<header class="hero semi-parallax">
  <div class="overlay">
    <div class="container text-center">
      <div class="panel">
        <img id="logo" src="/svg/karaage-kid-logo.svg" alt="Karaage Kid Logo" />
        <h3 id="hero_subtitle" class="hidden-mobile">Catering & Events</h3>
        <hr class="rule-md">

        <div class="btn-group-horizontal mt-4 mb-4">
          <a class="btn-cta" href="mailto:contact.karaagekid@gmail.com" data-ga-event="cta_email" data-ga-label="hero_email">
            <img
              src="/svg/icon-mail.svg"
              alt="Email Icon"
              class="btn-icon btn-icon-right"
            />
            <span>Email</span>
          </a>

          <a
            class="btn-cta"
            href="tel:+6477870671"
            data-ga-event="cta_call"
            data-ga-label="hero_call"
          >
            <img
              src="/svg/icon-phone.svg"
              alt="Phone Icon"
              class="btn-icon btn-icon-right"
            />
            <span>Call</span>
          </a>
        </div>

        <a
          href="/get-a-quote"
          class="btn-cta btn-emphasis"
          data-ga-event="cta_get_a_quote"
          data-ga-label="hero_get_a_quote"
        >
          <img
            src="/svg/icon-document.svg"
            alt="Document Icon"
            class="btn-icon btn-icon-right"
          />
          <span>Get a Quote</span>
        </a>
      </div>
    </div>
  </div>
</header>
