---
---

<header class="hero">
  <div class="overlay">
    <div class="container text-center">
      <div class="panel">
        <img id="logo" src="/svg/karaage-kid-logo.svg" alt="Karaage Kid Logo" />
        <div class="btn-group-horizontal">
          <a class="btn-cta" href="mailto:contact.karaagekid@gmail.com">
            Email
          </a>
          <a class="btn-cta" href="tel:+1234567890"> Call </a>
        </div>
      </div>
    </div>
  </div>
</header>
