---

---

<header class="hero semi-parallax">
  <div class="overlay">
    <div class="container text-center">
      <div class="panel">
        <img id="logo" src="/svg/karaage-kid-logo.svg" alt="Karaage Kid Logo" />
        <!-- <h2>Catering</h2> -->
        <div class="btn-group-horizontal mt-4 mb-4">
          <a class="btn-cta" href="mailto:contact.karaagekid@gmail.com">
            <img
              src="/svg/icon-mail.svg"
              alt="Email Icon"
              class="btn-icon btn-icon-right"
            />
            <span>Email</span>
          </a>

          <a class="btn-cta" href="tel:+6477870671">
            <img
              src="/svg/icon-phone.svg"
              alt="Phone Icon"
              class="btn-icon btn-icon-right"
            />
            <span>Call</span>
          </a>
        </div>

        <a href="/get-a-quote" class="btn-cta btn-emphasis">
          <img
            src="/svg/icon-document.svg"
            alt="Document Icon"
            class="btn-icon btn-icon-right"
          />
          <span>Get a Quote</span>
        </a>
      </div>
    </div>
  </div>
</header>
