---
let instaUrl = "https://www.instagram.com/karaagekidfoods/";
---

<header class="hero">
  <div class="overlay">
    <div class="container text-center">
      <div class="panel">
        <img id="logo" src="/svg/karaage-kid-logo.svg" alt="Karaage Kid Logo" />
        <div class="btn-group-horizontal">
          <a class="btn-cta" href="mailto:contact.karaagekid@gmail.com">
            Email
          </a>
          <a class="btn-cta" href="tel:+1234567890"> Call </a>
        </div>
        <a
          href={instaUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="btn-cta btn-instagram"
        >
          <img src="/svg/logo-instagram.svg" alt="Instagram" class="btn-icon" />
        </a>
      </div>
    </div>
  </div>
</header>
