---
---

<section id="what_we_do" class="section">
    <div class="overlay">
        <div class="container">
        <div class="panel content text-center">
            <h2>What We Do</h2>
            <p>
            We create delicious Japanese-inspired comfort food built around our signature karaage.
            </p>
        </div>
        </div>
    </div>
</section>